@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --white: #ffffff;
    --deep-blue: #231955;
    --blue-gray: #495C83;
    --red: #f44336;
    --blue: #2196f3;
    --green: #00e676;
}

/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.container {
    width: 60%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

/* --- Form Styles ---*/

/* Structure */
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1.25em;
}

.form__heading, .form__actions {
    grid-column: 1 / 3;
}

/* Form Heading */
.form__heading {
    margin-bottom: 2.5em;
}

.form__title {
    color: var(--deep-blue);
    font-size: 2.875em;
    margin-bottom: 0.625rem;
}

.form__legend {
    font-size: 14px;
    color: var(--blue-gray);
}

/* Form inputs */
.form__section {
    margin-bottom: 1.25em;
}

.form__label {
    display: inline-block;
    margin-bottom: 0.3125rem;
    font-size: 0.875em;
    font-weight: 600;
    color: var(--deep-blue);
}

.form__input {
    position: relative;
}

.form__control {
    padding: 0.5rem 2.5rem 0.5rem 0.9375rem;
    font-size: 0.875em;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0.3125rem;
    color: var(--blue-gray);
    transition: .2s all ease;
}

.form__control:focus {
    border-color: var(--blue);
}

.form__input .bx {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.375em;
}

.form__input .bx.bx-check {
    display: none;
    color: var(--green);
}

.form__input .bx.bx-x {
    display: none;
    color: var(--red);
}

.form__input.check .bx.bx-check {
    display: inline;
}

.form__input.check .form__control {
    border-color: var(--green);
}

.form__input.error .bx.bx-x {
    display: inline;
}

.form__input.error .form__control {
    border-color: var(--red);
}

.form__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__legend {
    color: var(--blue-gray);
}

.form__legend > a {
    font-weight: 600;
    color: var(--deep-blue);
    text-decoration: none;
}

.form__button {
    padding: 0.625rem 0.9375rem;
    font-size: 0.875em;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    background: var(--blue);
    cursor: pointer;
    transition: .1s all ease;
}

.form__button:hover {
    background: #1e88e5;
}

.form__button:active {
    outline: auto;
    outline-width: 4px;
    outline-color: #64b5f6;
}

/* Responsive Design */
@media (max-width: 640px) {

    .container {
        height: auto;
        margin: 2.5em auto;
    }

    .form {
        grid-template-columns: 1fr;
    }

    .form__heading, .form__actions {
        grid-column: unset;
    }

    .form__heading {
        text-align: center;
    }

    .form__control {
        width: 100%;
    }
}

@media (max-width: 425px) {

    body {
        font-size: 14px;
    }

    .container {
        width: 80%;
    }

    .form__actions {
        flex-direction: column-reverse;
    }

    .form__button {
        margin-bottom: 0.625em;
    }
}